html {
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "notifications notifications notifications" "view_template view_template view_template" "footer footer footer";
    grid-gap: 1rem;
}

header {
    grid-area: header;
}

#notifications {
    grid-area: notifications;
}

.footer {
    color: honeydew;
    background-color: #ff1d94;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 50px;
    grid-area: footer;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.view_template {
    grid-area: view_template;
    margin: 40px 0 40px 0;
}

label.control-label {
    font-weight: 600;
    font-variant: small-caps;
}

.help-block {
    background-color: #f8d7da;
    font-style: italic;
}

.nav-item.active .nav-link {
    color: #ff1d94 !important;
}