/* Phoenix flash messages */

.alert:empty {
    display: none;
}


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
    .footer {
        max-width: 800;
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}