<header class="masthead">
<a href="/">
      <img src="<%= static_path(@conn, "/images/indie.png") %>" width="150" height="50">
</a>
<h5>
        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item" id="home">
                <a class="nav-link" href="/" >Home </a>
              </li>

              <li class="nav-item" id="users">
                <a class="nav-link" href="/users" >Users</a>
              </li>
              <li class="nav-item" id="current_session">
                <a class="nav-link" href="/sessions/new">Current session</a>
              </li>
                  <li class="nav-item" id="cms_pages">
                <a class="nav-link" href="/cms/pages">CMS</a>
              </li>
            </ul>
          </div>
          </h5>
        </nav>
      </header>