<h2>Show User</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  
  <li>
    <strong>Email:</strong>
    <%= @user.credential.email %>
</li>

</ul>


<span><%= link "Back", to: user_path(@conn, :index), class: "btn btn-outline-primary btn-sm" %></span>
<span><%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-outline-warning btn-sm" %></span>